<IfModule mod_rewrite.c>
    RewriteEngine On

    # Sitemap
    RewriteRule ^sitemap\.xml$ - [L]
    RewriteRule ^sitemaps/ - [L]

    # Eliminar barra final (excepto raíz)
    RewriteCond %{REQUEST_URI} !^/$
    RewriteRule ^(.+)/$ /$1 [R=301,L]

    # Redirección /es -> /
    RewriteRule ^es/?$ / [R=301,L]

    # Front Controller
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?uri=$1 [QSA,L]
</IfModule>

<FilesMatch "\.svg$">
    <IfModule mod_headers.c>
        Header set Content-Type "image/svg+xml"
    </IfModule>
</FilesMatch>